{% extends 'base.html' %} {% load static %} {% block content %} {% block css %}
<!-- custom css -->
<style>
    #message {
        display: none;
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #message p {
        padding: 10px 35px;
        font-size: 18px;
    }
    /* Add a green text color and a checkmark when the requirements are right */
    
    .valid {
        color: green;
    }
    
    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
    }
    /* Add a red text color and an "x" when the requirements are wrong */
    
    .invalid {
        color: red;
    }
    
    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
    }
</style>
{% endblock css %}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Sigup</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">Sigup</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Billing address</h3>
                    </div>
                    <div class="form-group">
                        <p>Username<span>*</span></p>
                        <input class="input" type="text" name="first-name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <p>Email<span>*</span></p>
                        <input class="input" type="text" name="last-name" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <p>Password<span>*</span></p>
                        <input class="input" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <p>Password Confirmation<span>*</span></p>
                        <input class="input" type="text" name="address" placeholder="Address">
                    </div>

                    <div class="form-group">
                        <div class="col-lg-6">
                            <div class="input-checkbox">
                                <input type="checkbox" id="create-account">
                                <label for="create-account">
                                <span></span>
                                Show Password ?
                            </label>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                <a href="{% url 'login' %}">Login</a>
                            </p>

                        </div>
                    </div>
                </div>



            </div>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

{% endblock content %} {% block js %}
<!-- custom js -->
<script>
    function showPassword() {
        var x = document.getElementById("id_password1");
        var y = document.getElementById('id_password2');
        if (x.type === "password", y.type === 'password') {
            x.type = "text";
            y.type = 'text'
        } else {
            x.type = "password";
            y.type = "password";

        }
    }

    var myPassword = document.getElementById("id_password1");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");


    // When the user clicks on the password field, show the message box
    myPassword.onfocus = function() {
        document.getElementById('message').style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    // myPassword.onblur = function() {
    //     document.getElementById('message').style.display = "none";
    // }

    myPassword.onkeyup = function() {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myPassword.value.match(lowerCaseLetters)) {
            letter.classList.remove('invalid');
            letter.classList.add('valid');
        } else {
            letter.classList.remove('valid');
            letter.classList.add('invalid');
        }
        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myPassword.value.match(upperCaseLetters)) {
            capital.classList.remove('invalid');
            capital.classList.add('valid');
        } else {
            capital.classList.remove('valid');
            capital.classList.add('invalid');
        }
        // Validate number
        var numbers = /[0-9]/g;
        if (myPassword.value.match(numbers)) {
            number.classList.remove('invalid');
            number.classList.add('valid');
        } else {
            number.classList.remove('valid');
            number.classList.add('valid');
        }
        // Validate length
        if (myPassword.value.length >= 8) {
            length.classList.remove('invalid');
            length.classList.add('valid');
        } else {
            length.classList.remove('valid');
            length.classList.add('invalid')
        }



    }
</script>
{% endblock js %}